<% layout('layouts/boilerplate') %> 

<!-- Data -->
<% const data = [
    {name: '2x2x2', img: '/imgs/cd-img1.png', link: '/algorithms/2x2x2'},
    {name: '3x3x3', img: '/imgs/cd-img2.png', link: '/algorithms/3x3x3'},
    {name: '4x4x4', img: '/imgs/cd-img3.png', link: '/algorithms/4x4x4'},
    {name: 'Big Cubes', img: '/imgs/cd-img4.png', link: '/algorithms/bigcubes'},
    {name: 'Skewb', img: '/imgs/cd-img7.png', link: '/algorithms/skewb'},
    {name: 'Pyraminx', img: '/imgs/cd-img8.png', link: '/algorithms/pyraminx'},
    {name: 'Square 1', img: '/imgs/cd-img9.png', link: '/algorithms/square1'}
]


%> 

<!-- Display -->
<section class="p-3 " id='learnPage' data-aos="fade-up" data-aos-delay="100">
  <div class="container">
    <div class="row">

      <% for(let i of data) { %>
        
          
              <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="col-md">
                  <div class="card text-center shadow">
                      <img src=<%= i.img %>   class="card-img-top" alt="image">
                      <div class="card-body">
                        <h5 class="card-title text-center"><%= i.name %> </h5>
                        <a  class="btn btn-dark shadow sm" href=<%= i.link %>>Click</a>
                      </div>
                  </div>
              </div>
              </div>
          
          
            
  
  <% } %> 

      
    </div>
  </div>
</section>

