<footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Speedcubing Complete</h3>
            <p>
              <strong>Instagram: </strong><a href="https://www.instagram.com/speedcubingcomplete/">@speedcubingcomplete</a><br>
              <strong>Email: </strong><a href="#">speedcubingcomplete@gmail.com</a><br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Learn</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Algorithms</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://www.instagram.com/just.cubing.things/">Meme Page</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Checkout</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Timer</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Trainers</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://speedcubingcomplete.blogspot.com/">Blogs</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">IdealCube4u</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>For exclusive tips and tricks, new product announcements - plus a few surprises</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>SCC</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          Designed by <a href="/">Team SCC</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-youtube"></i></a>
      </div>
    </div>
  </footer>
