<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/">Speedcubing Complete</a></h1>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link" href="/learn">Learn</a></li>
          <li><a class="nav-link" href="/timer">Timer</a></li>
          <li><a class="nav-link" href="/quiz">Quiz</a></li>
          <li><a class="nav-link" href="/algorithms">Algorithms</a></li>
          <li><a class="nav-link" href="https://speedcubingcomplete.blogspot.com/">Blogs</a></li>
          <li><a class="nav-link" href="/more">More</a></li>
          
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>
 
