<% layout('layouts/boilerplate') %> 

<!-- Data -->
<% 
const two = [
    {name: 'LBL Method', img: '/imgs/2x2/img1.png', link: '/learn/2x2x2/lbl'},
    {name: 'Ortega Method', img: '/imgs/2x2/img2.png', link: '/learn/2x2x2/ortega'},
    {name: 'CLL', img: '/imgs/2x2/img3.png', link: '/learn/2x2x2/cll'},
    {name: 'EG-1', img: '/imgs/2x2/img4.png', link: '/learn/2x2x2/eg1'},
    {name: 'EG-2', img: '/imgs/2x2/img5.png', link: '/learn/2x2x2/eg2'},
    {name: 'More Resources', img: '/imgs/more-res.png', link: '/learn/2x2x2/more-resources'},
]; 

const three = [
    {name: 'Beginners Method', img: '/imgs/lbl.png', link: '/learn/3x3x3/beg'},
    {name: 'CFOP', img: '/imgs/cfop.png', link: '/learn/3x3x3/cfop'},
    {name: 'ROUX', img: '/imgs/roux.png', link: '/learn/3x3x3/roux'},
    {name: 'ZZ', img: '/imgs/zz.png', link: '/learn/3x3x3/zz'},
    {name: 'Petrus', img: '/imgs/petrus.png', link: '/learn/3x3x3/petrus'},
    {name: 'More Resources', img: '/imgs/more-res.png', link: '/more-resources'},
]; 

const four = [
    {name: 'Reduction', img: '/imgs/4x4/img1.png', link: '/learn/4x4x4/reduction'},
    {name: 'YAU', img: '/imgs/4x4/img2.png', link: '/learn/4x4x4/yau'},
    {name: 'Algorithms', img: '/imgs/more-res.png', link: '/more-resources'}
];

const five = [
    {name: 'Reduction', img: '/imgs/reduction.png', link: '/learn/5x5x5/reduction'},
    {name: 'YAU', img: '/imgs/yau.png', link: '/learn/5x5x5/yau'},
    {name: 'Algorithms', img: '/imgs/more-res.png', link: '/more-resources'},
]; 


%>

<!-- Logic -->
<% 
 let data;
 switch(id) {
     case '2x2x2':
         data = two;
         break;
    case '3x3x3':
        data = three;
        break;
    case '4x4x4':
        data = four;
        break;
    case '5x5x5':
        data = five;
        break;
    case '6x6x6':
        data = six;
        break;
    case '7x7x7':
        data = seven;
        break;
 }
 %> 



<!-- Display -->
<section class="p-3 " id='learnPage' data-aos="fade-up" data-aos-delay="100">
    <div class="container mx-auto">
      <div class="row">
  
        <% for(let i of data) { %>
          
            
                <div class="col-lg-4 col-md-6 col-sm-12">
                  <div class="col-md">
                    <div class="card text-center shadow">
                        <img src=<%= i.img %>   class="card-img-top" alt="image">
                        <div class="card-body">
                          <h5 class="card-title text-center"><%= i.name %> </h5>
                          <a  class="btn btn-dark shadow sm" href=<%= i.link %>>Learn</a>
                        </div>
                    </div>
                </div>
                </div>
            
            
              
    
    <% } %> 
  
        
      </div>
    </div>
  </section>
  