<% layout('layouts/boilerplate') %>

<!-- Hero -->
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
        
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center shadow">
          <h2><span class="me-2">BE</span> A</h2>
          <h1 class="text-uppercase">Speedcuber</h1>
          <h2 class="text-uppercase"><span class="me-1">Of</span> Tomorrow</h2>
        </div>
      </div>
      <div class="text-center">
        <a href="#products" class="btn-get-started scrollto shadow">Get Started</a>
      </div>

      <div class="row icon-boxes">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="card icon-box">
            <img src="./imgs/cd-img2.png" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <p class="card-title description fw-bold fs-4 mb-3 text-center">3x3x3 CUBE</p>
              <a href="#" class="btn btn-primary shadow">Learn</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="card icon-box">
            <img src="./imgs/cd-img1.png" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <p class="card-title description fw-bold fs-4 mb-3 text-center">2x2x2 CUBE</p>
              <a href="#" class="btn btn-primary shadow">Learn</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="card icon-box">
            <img src="./imgs/cd-img3.png" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <p class="card-title description fw-bold fs-4 mb-3 text-center">4x4x4 CUBE</p>
              <a href="#" class="btn btn-primary shadow">Learn</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="zoom-in" data-aos-delay="500">
          <div class="card icon-box">
            <img src="./imgs/cd-img4.png" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <p class="card-title description fw-bold fs-4 mb-3 text-center">5x5x5 CUBE</p>
              <a href="#" class="btn btn-primary shadow">Learn</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- End Hero -->

  <!-- main Section -->
  <main id="main">
      <!-- About Section -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>About Us</h2>
            <p class="fs-2 fw-bolder">Welcome To The Speedcubing Complete</p>
          </div>
  
          <div class="row content">
            <div class="col-lg-6">
              <p>
                Speedcubing Complete is an educational platform with the mission to help people learn Rubiks' cubes and puzzles for free. We at Speedcubing Complete aim to provide quality content that will help you become an elite cuber.
              </p>
              <ul>
                <li><i class="ri-check-double-line"></i> Learn wide variety of Rubik's Cubes and puzzles at one place.</li>
                <li><i class="ri-check-double-line"></i> Time your solves using our Cube Timer App.</li>
                <li><i class="ri-check-double-line"></i> Read blogs about solve critiques, cubes and puzzle reviews, tips and tricks for solving the puzzles fast and much more.</li>
                <li> <i class="ri-check-double-line"></i> Got bored of reading blogs? We got you covered, Watch videos on our website or you can check out our youtube channel.</li>
              </ul>
            </div>

            <div class="col-lg-6 pt-4 pt-lg-0">
              <p>
                Our Mission is to provide concise cubing tutorials and best resources available to help you get faster.
              </p>

              <a href="#" class="btn-learn-more">Learn More</a>
            </div>
          </div>
  
        </div>
      </section>
      <!-- End About Section -->

      <!-- Products -->
    <section class="p-3 products" id='products'>
        <div class="container">
          <div class="row text-center g-4 mb-2 mt-1 pb-1">

            <div class="col-md">
              <div class="card bg-white shadow text-dark border-0">
                <div class="card-body text-center">
                  <div class="mb-3">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="./imgs/cubetimer.jpg" class="d-block w-100" alt="cube timer">
                        </div>
                        <!-- <div class="carousel-item">
                          <img src="./imgs/cubestimulator.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          <img src="./imgs/cubestimulator.jpg" class="d-block w-100" alt="...">
                        </div> -->
                      </div>
                    </div>
                  </div>
                  <h3 class="card-title mb-3 fw-bold">Cube Timer</h3>
                  <p class="card-text">
                    Cube Timer is a Web Application that helps you time your Rubik's Cube Solves. This simple and elegant timer is easy to use and records your solving time and stats.
                  </p>
                  <a href="#" class="btn btn-danger">Click Here</a>
                </div>
              </div>
            </div>
  
  
            <div class="col-md">
              <div class="card bg-white text-dark shadow border-0">
                <div class="card-body text-center">
                  <div class=" h1 mb-3 ">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="./imgs/trainer.jpg" class="d-block w-100" alt="Trainers">
                        </div>
                        <!-- <div class="carousel-item">
                          <img src="./imgs/cubestimulator.jpg" class="d-block w-100" alt="Register">
                        </div>
                        <div class="carousel-item">
                          <img src="./imgs/cubestimulator.jpg" class="d-block w-100" alt="New Campground">
                        </div> -->
                      </div>
                    </div>
                    
                  </div>  
                  <h3 class="card-title mb-3 fw-bold">Trainers</h3>
                  <p class="card-text">
                    A Node.js web application project where users can create and review campgrounds. You must Login/Signup to create and review campgrounds.
                  </p>
                  
                  <a href="#" class="btn btn-danger">Click Here</a>
                </div>
              </div>
            </div>
  
  
            <div class="col-md">
              <div class="card bg-white text-dark border-0 shadow">
                <div class="card-body text-center">
                  <div class="h1 mb-3">
                    <!-- <i class="bi bi-people"></i> -->
                    <!-- <img src="img/timer.png" alt="cube timer" class="img-fluid"> -->
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="./imgs/quiz1.png" class="d-block w-100" alt="Quiz">
                        </div>
                        <!-- <div class="carousel-item">
                          <img src="./imgs/cubestimulator.jpg" class="d-block w-100" alt="5x5x5 Puzzle Selected">
                        </div> -->
                        <!-- <div class="carousel-item">
                          <img src="img/sccImage3.png" class="d-block w-100" alt="...">
                        </div> -->
                      </div>
                    </div>
                  </div>
                  <h3 class="card-title mb-3 fw-bold">Quiz</h3>
                  <p class="card-text">
                    Have you ever asked yourself how much you know about the Magic Cube and other twisty puzzles? With this Rubik's Cube Quiz you can answer this question.
                  </p>
                  <a href="#" class="btn btn-danger">Click Here</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Blogs Section -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">
  
          <div class="row">
  
            <div class="col-lg-6 video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100">
              <img src="./imgs/blog.jpeg" class="img-fluid" alt="Blog">
            </div>
  
            <div class="col-lg-6 pt-3 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
              <h3><a href="https://speedcubingcomplete.blogspot.com/2022/01/introduction-to-speedcubing-what-is.html">Introduction To Speedcubing</a></h3>
              <p class="fst-italic">
                Speedcubing is a fun and addictive activity which involves solving Rubik's Cube and Puzzles as soon as possible. It is a great brain training tool. It is a combination of solving efficiently but also quickly. Rubik's Cube has been a popular source of entertainment across the world for decades. It is incredibly simple, yet surprisingly complex - a paradox in the real sense.
              </p>
              
              <p>
                "Anyone can learn it with a bit of Time, Patience, and Practice"
  But for most people speedcubing is more than that. For some, it's a hobby, a sport, a dream, an aim and for some, it's an important part of their life.
   For most speedcubers, it's something where they keep striving to improve. The more we practice, It encourages our desire to improve and be the best from all our friends and one day the World. 
  This amazing puzzle is the creation by Hungarian mathematician Erno Rubik. There is a number of methods you can use to solve the Rubik's Cube faster, after all with its 43 Quintilian possible permutations, It's pretty hard to rely on luck.
              </p>
              <a class="btn btn-primary shadow-sm" href="">Read More...</a>
            </div>
            
          </div>
  
        </div>
      </section>
      <!-- more blogs -->
      <section class="p-3 products">
        <div class="container">
          <div class="row text-center g-4 mt-1 mb-2">

            <div class="col-md">
              <!-- card 1 -->
              <div class="card bg-white text-dark shadow">
                <div class="card-body text-center">
                  <div class="mb-3">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="./imgs/notations.jpeg" class="d-block w-100" alt="Blog">
                        </div>
                        <!-- <div class="carousel-item">
                          <img src="./imgs/cubestimulator.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          <img src="./imgs/cubestimulator.jpg" class="d-block w-100" alt="...">
                        </div> -->
                      </div>
                    </div>
                  </div>
                  <h3 class="card-title mb-3 fw-bold">Notations</h3>
                  <p class="card-text">
                    In this article, you'll learn how to read Rubik's cube notations and do them on a Rubik's cube...
                  </p>
                  <a href="https://speedcubingcomplete.blogspot.com/2022/01/rubiks-cube-notation.html" class="btn btn-danger">Read More</a>
                </div>
              </div>
            </div>
  
  
            <div class="col-md">
              <div class="card bg-white text-dark shadow">
                <div class="card-body text-center">
                  <div class=" h1 mb-3">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="./imgs/sub30.jpeg" class="d-block w-100" alt="Blog">
                        </div>
                        <!-- <div class="carousel-item">
                          <img src="./imgs/cubestimulator.jpg" class="d-block w-100" alt="New Campground">
                        </div> -->
                      </div>
                    </div>
                    
                  </div>  
                  <h3 class="card-title mb-3 fw-bold">Sub 30 On 3x3 Cube</h3>
                  <p class="card-text">
                    if your goal is to get sub 30 or less then here are 5 tips and tricks that will definitely help you to get sub 30 on a 3x3 cube 
                  </p>
                  <a href="https://speedcubingcomplete.blogspot.com/2022/01/5-tips-to-be-sub-30-on-3x3.html" class="btn btn-danger">Read More</a>
                </div>
              </div>
            </div>
  
  
            <div class="col-md">
              <div class="card bg-white text-dark shadow">
                <div class="card-body text-center">
                  <div class="h1 mb-3">
                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="./imgs/notations2.jpeg" class="d-block w-100" alt="Blog">
                        </div>
                        <!-- <div class="carousel-item">
                          <img src="./imgs/cubestimulator.jpg" class="d-block w-100" alt="5x5x5 Puzzle Selected">
                        </div> -->
                        <!-- <div class="carousel-item">
                          <img src="img/sccImage3.png" class="d-block w-100" alt="...">
                        </div> -->
                      </div>
                    </div>
                  </div>
                  <h3 class="card-title mb-3 fw-bold">Rubik's Cube Advance Notations
                  </h3>
                  <p class="card-text">
                    In this article, we will learn about advanced Rubik's cube Notations.
                  </p>
                  <a href="https://speedcubingcomplete.blogspot.com/2022/01/rubiks-cube-notations-2.html" class="btn btn-danger">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Blog Ends -->

      <!-- Products 2 -->
    <section class="p-5 products2">
        <div class="container">
          <div class="row align-items-center justify-content-between mb-3">
            <div class="col-md">
              <!-- <img src="img/timer.png" class="img-fluid" alt="" /> \-->
              <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="./imgs/pic8.jpg" class="d-block w-100" alt="IdeaCube4U">
                  </div>
                  <!-- <div class="carousel-item">
                    <img src="./imgs/cubestimulator.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="./imgs/cubestimulator.jpg" class="d-block w-100" alt="...">
                  </div> -->
                </div>
              </div>
            </div>
            <div class="col-md p-5">
              <h2>Ideal Cube For You</h2>
              <p class="lead">
                Confused which cube you should buy? Use our Ideal Cube app to help you select the best cube for you
              </p>
              
              <a href="#" class="btn btn-danger">Click Here</a>
  
            </div>
          </div>
  
          <div class="row align-items-center justify-content-between">
            <div class="col-md mb-3">
              <!-- <img src="img/fundamentals.svg" class="img-fluid" alt="" /> -->
              <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="./imgs/cubestimulator.jpg" class="d-block w-100" alt="Timers and Trainers">
                  </div>
                  
                  <!-- <div class="carousel-item">
                    <img src="./imgs/cubestimulator.jpg" class="d-block w-100" alt="...">
                  </div> -->
                </div>
              </div>
            </div>
            <div class="col-md p-5">
              <h2>Timer and Trainers</h2>
              <p class="lead">
                Time your solves using our Cube Timer App or do you want to practice OLL and PLL algorithms? Use Our OLL and PLL Trainers
              </p>
              
              <a href="#" class="btn btn-danger">Click Here</a>
  
            </div>
          </div>
  
          <div class="row align-items-center justify-content-between">
            <div class="col-md mb-3">
              <!-- <img src="img/fundamentals.svg" class="img-fluid" alt="" /> -->
              <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="./imgs/cubegames.png" class="d-block w-100" alt="Cube Games">
                  </div>
                  <!-- <div class="carousel-item">
                    <img src="./imgs/cubestimulator.jpg" class="d-block w-100" alt="Play Again on winning">
                  </div>
                  <div class="carousel-item">
                    <img src="./imgs/cubestimulator.jpg" class="d-block w-100" alt="Easy Mode">
                  </div> -->
                </div>
              </div>
            </div>
            <div class="col-md p-5">
              <h2>Games</h2>
              <p class="lead">
                Checkout the gaming section to play wide variety of games online
              </p>
              <a href="#" class="btn btn-danger">Click Here</a>
  
            </div>
          </div>
  
          <!-- <div class="row align-items-center justify-content-between">
            <div class="col-md">
              
              <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="./imgs/cubestimulator.jpg" class="d-block w-100" alt="Home Page">
                  </div>
                </div>
              </div>
              
            </div>
            <div class="col-md p-5">
              <h2>Best Resources</h2>
              <p class="lead">
                Get to know the best cubing resources out there on the web   
              </p>
              <a href="#" class="btn btn-danger">Read More</a>
  
            </div>
          </div> -->
        </div>
      </section>

      <!-- Products 2 ends -->

      <!-- Featured -->
    <section id="feature" class="feature section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Featured</h2>
            <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
          </div>
  
          <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box iconbox-blue">
                <div class="icon">
                  <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                    <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,521.0016835830174C376.1290562159157,517.8887921683347,466.0731472004068,529.7835943286574,510.70327084640275,468.03025145048787C554.3714126377745,407.6079735673963,508.03601936045806,328.9844924480964,491.2728898941984,256.3432110539036C474.5976632858925,184.082847569629,479.9380746630129,96.60480741107993,416.23090153303,58.64404602377083C348.86323505073057,18.502131276798302,261.93793281208167,40.57373210992963,193.5410806939664,78.93577620505333C130.42746243093433,114.334589627462,98.30271207620316,179.96522072025542,76.75703585869454,249.04625023123273C51.97151888228291,328.5150500222984,13.704378332031375,421.85034740162234,66.52175969318436,486.19268352777647C119.04800174914682,550.1803526380478,217.28368757567262,524.383925680826,300,521.0016835830174"></path>
                  </svg>
                  <i class="far fa-laugh-squint"></i>
                </div>
                <h4><a href="https://www.instagram.com/just.cubing.things/">Just Cubing Things</a></h4>
                <p> Follow our meme page for your daily laughter dose </p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box iconbox-orange ">
                <div class="icon">
                  <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                    <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,582.0697525312426C382.5290701553225,586.8405444964366,449.9789794690241,525.3245884688669,502.5850820975895,461.55621195738473C556.606425686781,396.0723002908107,615.8543463187945,314.28637112970534,586.6730223649479,234.56875336149918C558.9533121215079,158.8439757836574,454.9685369536778,164.00468322053177,381.49747125262974,130.76875717737553C312.15926192815925,99.40240125094834,248.97055460311594,18.661163978235184,179.8680185752513,50.54337015887873C110.5421016452524,82.52863877960104,119.82277516462835,180.83849132639028,109.12597500060166,256.43424936330496C100.08760227029461,320.3096726198365,92.17705696193138,384.0621239912766,124.79988738764834,439.7174275375508C164.83382741302287,508.01625554203684,220.96474134820875,577.5009287672846,300,582.0697525312426"></path>
                  </svg>
                  <i class="fas fa-puzzle-piece"></i>
                </div>
                <h4><a href="#">Non WCA Puzzles</a></h4>
                <p>Checkout these cool puzzles (Not used in official WCA competitions)</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon-box iconbox-pink">
                <div class="icon">
                  <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                    <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,541.5067337569781C382.14930387511276,545.0595476570109,479.8736841581634,548.3450877840088,526.4010558755058,480.5488172755941C571.5218469581645,414.80211281144784,517.5187510058486,332.0715597781072,496.52539010469104,255.14436215662573C477.37192572678356,184.95920475031193,473.57363656557914,105.61284051026155,413.0603344069578,65.22779650032875C343.27470386102294,18.654635553484475,251.2091493199835,5.337323636656869,175.0934190732945,40.62881213300186C97.87086631185822,76.43348514350839,51.98124368387456,156.15599469081315,36.44837278890362,239.84606092416172C21.716077023791087,319.22268207091537,43.775223500013084,401.1760424656574,96.891909868211,461.97329694683043C147.22146801428983,519.5804099606455,223.5754009179313,538.201503339737,300,541.5067337569781"></path>
                  </svg>
                  <i class="fas fa-fill-drip"></i>
                </div>
                <h4><a href="#">Must Try Patterns</a></h4>
                <p>Try these cool patterns and amaze your friends and family</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box iconbox-yellow">
                <div class="icon">
                  <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                    <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,503.46388370962813C374.79870501325706,506.71871716319447,464.8034551963731,527.1746412648533,510.4981551193396,467.86667711651364C555.9287308511215,408.9015244558933,512.6030010748507,327.5744911775523,490.211057578863,256.5855673507754C471.097692560561,195.9906835881958,447.69079081568157,138.11976852964426,395.19560036434837,102.3242989838813C329.3053358748298,57.3949838291264,248.02791733380457,8.279543830951368,175.87071277845988,42.242879143198664C103.41431057327972,76.34704239035025,93.79494320519305,170.9812938413882,81.28167332365135,250.07896920659033C70.17666984294237,320.27484674793965,64.84698225790005,396.69656628748305,111.28512138212992,450.4950937839243C156.20124167950087,502.5303643271138,231.32542653798444,500.4755392045468,300,503.46388370962813"></path>
                  </svg>
                  <i class="fas fa-laptop"></i>
                </div>
                <h4><a href="#">Cubing Websites You Must Know</a></h4>
                <p>These are the selected websites every cuber must know</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box iconbox-red">
                <div class="icon">
                  <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                    <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,532.3542879108572C369.38199826031484,532.3153073249985,429.10787420159085,491.63046689027357,474.5244479745417,439.17860296908856C522.8885846962883,383.3225815378663,569.1668002868075,314.3205725914397,550.7432151929288,242.7694973846089C532.6665558377875,172.5657663291529,456.2379748765914,142.6223662098291,390.3689995646985,112.34683881706744C326.66090330228417,83.06452184765237,258.84405631176094,53.51806209861945,193.32584062364296,78.48882559362697C121.61183558270385,105.82097193414197,62.805066853699245,167.19869350419734,48.57481801355237,242.6138429142374C34.843463184063346,315.3850353017275,76.69343916112496,383.4422959591041,125.22947124332185,439.3748458443577C170.7312796277747,491.8107796887764,230.57421082200815,532.3932930995766,300,532.3542879108572"></path>
                  </svg>
                  <i class="fas fa-cube"></i>
                </div>
                <h4><a href="#">Cube Simulator</a></h4>
                <p>Don't have a Rubik's Cube with you? Play with this Rubik's cube Simulator.</p>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon-box iconbox-teal">
                <div class="icon">
                  <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                    <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,566.797414625762C385.7384707136149,576.1784315230908,478.7894351017131,552.8928747891023,531.9192734346935,484.94944893311C584.6109503024035,417.5663521118492,582.489472248146,322.67544863468447,553.9536738515405,242.03673114598146C529.1557734026468,171.96086150256528,465.24506316201064,127.66468636344209,395.9583748389544,100.7403814666027C334.2173773831606,76.7482773500951,269.4350130405921,84.62216499799875,207.1952322260088,107.2889140133804C132.92018162631612,134.33871894543012,41.79353780512637,160.00259165414826,22.644507872594943,236.69541883565114C3.319112789854554,314.0945973066697,72.72355303640163,379.243833228382,124.04198916343866,440.3218312028393C172.9286146004772,498.5055451809895,224.45579914871206,558.5317968840102,300,566.797414625762"></path>
                  </svg>
                  <i class="bx bx-slideshow"></i>
                </div>
                <h4><a href="https://www.youtube.com/channel/UC1mKM2CET5iQ4jE5RN6uhLg">Youtube</a></h4>
                <p>Got bored of reading blogs? We got you covered. Check out our youtube channel</p>
              </div>
            </div>
  
          </div>
  
        </div>
      </section>
      <!-- Featured End -->

      <!-- Cta Section -->
    <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">
          <div class="text-center">
            <h3>Follow Us On Instagram</h3>
            <p>If you like cubeography, cubing tips and tricks, youtube or cubing room updates and short videos tutorials or if you want to chat with us then follow our offical instagram page @speedcubingcomplete</p>
            <a class="cta-btn" href="https://www.instagram.com/speedcubingcomplete/">Follow</a>
          </div>
        </div>
      </section>
      <!-- End Cta Section -->

      <!-- Shop Section -->
    <!-- <section id="shop" class="shop">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Shop</h2>
            <p>Buy cubes, logos and apparels from our shop</p>
          </div>
  
          <div class="row" data-aos="fade-up" data-aos-delay="150">
            <div class="col-lg-12 d-flex justify-content-center">
              <ul id="shop-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-app">Cube</li>
                <li data-filter=".filter-card">Logo</li>
                <li data-filter=".filter-web">Apparels</li>
              </ul>
            </div>
          </div>
  
          <div class="row shop-container" data-aos="fade-up" data-aos-delay="300">
  
            <div class="col-lg-4 col-md-6 shop-item filter-app">
              <div class="shop-wrap">
                <img src="./img/shop/shop-1.jpg" class="img-fluid" alt="">
                <div class="shop-info">
                  <h4>App 1</h4>
                  <p>App</p>
                  <div class="shop-links">
                    <a href="./img/shop/shop-1.jpg" data-gallery="shopGallery" class="shop-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                    <a href="shop-details.html" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 shop-item filter-web">
              <div class="shop-wrap">
                <img src="./img/shop/shop-2.jpg" class="img-fluid" alt="">
                <div class="shop-info">
                  <h4>Web 3</h4>
                  <p>Web</p>
                  <div class="shop-links">
                    <a href="./img/shop/shop-2.jpg" data-gallery="shopGallery" class="shop-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                    <a href="shop-details.html" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 shop-item filter-app">
              <div class="shop-wrap">
                <img src="./img/shop/shop-3.jpg" class="img-fluid" alt="">
                <div class="shop-info">
                  <h4>App 2</h4>
                  <p>App</p>
                  <div class="shop-links">
                    <a href="./img/shop/shop-3.jpg" data-gallery="shopGallery" class="shop-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                    <a href="shop-details.html" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 shop-item filter-card">
              <div class="shop-wrap">
                <img src="./img/shop/shop-4.jpg" class="img-fluid" alt="">
                <div class="shop-info">
                  <h4>Card 2</h4>
                  <p>Card</p>
                  <div class="shop-links">
                    <a href="./img/shop/shop-4.jpg" data-gallery="shopGallery" class="shop-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                    <a href="shop-details.html" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 shop-item filter-web">
              <div class="shop-wrap">
                <img src="./img/shop/shop-5.jpg" class="img-fluid" alt="">
                <div class="shop-info">
                  <h4>Web 2</h4>
                  <p>Web</p>
                  <div class="shop-links">
                    <a href="./img/shop/shop-5.jpg" data-gallery="shopGallery" class="shop-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                    <a href="shop-details.html" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 shop-item filter-app">
              <div class="shop-wrap">
                <img src="./img/shop/shop-6.jpg" class="img-fluid" alt="">
                <div class="shop-info">
                  <h4>App 3</h4>
                  <p>App</p>
                  <div class="shop-links">
                    <a href="./img/shop/shop-6.jpg" data-gallery="shopGallery" class="shop-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                    <a href="shop-details.html" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 shop-item filter-card">
              <div class="shop-wrap">
                <img src="./img/shop/shop-7.jpg" class="img-fluid" alt="">
                <div class="shop-info">
                  <h4>Card 1</h4>
                  <p>Card</p>
                  <div class="shop-links">
                    <a href="./img/shop/shop-7.jpg" data-gallery="shopGallery" class="shop-lightbox" title="Card 1"><i class="bx bx-plus"></i></a>
                    <a href="shop-details.html" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 shop-item filter-card">
              <div class="shop-wrap">
                <img src="./img/shop/shop-8.jpg" class="img-fluid" alt="">
                <div class="shop-info">
                  <h4>Card 3</h4>
                  <p>Card</p>
                  <div class="shop-links">
                    <a href="./img/shop/shop-8.jpg" data-gallery="shopGallery" class="shop-lightbox" title="Card 3"><i class="bx bx-plus"></i></a>
                    <a href="shop-details.html" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 shop-item filter-web">
              <div class="shop-wrap">
                <img src="./img/shop/shop-9.jpg" class="img-fluid" alt="">
                <div class="shop-info">
                  <h4>Web 3</h4>
                  <p>Web</p>
                  <div class="shop-links">
                    <a href="./img/shop/shop-9.jpg" data-gallery="shopGallery" class="shop-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                    <a href="shop-details.html" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
      </section> -->
      <!-- Shop Ends -->
      
      <!-- Algorithms Start -->
      <section id="algorithms" class="algorithms section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Algorithms</h2>
          </div>
  
          <div class="row">
  
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
              <div class="alg">
                <div class="alg-img">
                  <img src="./imgs/oll.png" class="img-fluid" alt="OLL Algs">
                </div>
                <div class="alg-info">
                  <h4>OLL</h4>
                  <span><a href=""><i class="bi bi-youtube"></i></a></span>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
              <div class="alg">
                <div class="alg-img">
                  <img src="./imgs/pll.png" class="img-fluid" alt="Pll">
                </div>
                <div class="alg-info">
                  <h4>PLL</h4>
                  <span><a href=""><i class="bi bi-youtube"></i></a></span>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
              <div class="alg">
                <div class="alg-img">
                  <img src="./imgs/f2l.png" class="img-fluid" alt="F2l">
                </div>
                <div class="alg-info">
                  <h4>F2L</h4>
                  <span><a href=""><i class="bi bi-youtube"></i></a></span>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
              <div class="alg">
                <div class="alg-img more-resources">
                  <img src="./imgs/more-res.png" class="img-fluid" alt="more resources">
                </div>
                <div class="alg-info">
                  <h4>More</h4>
                  <span><a href=""><i class="bi bi-youtube"></i></a></span>
                </div>
              </div>
            </div>
  
          </div>
  
          
        </div>
      </section>
      <!-- Algorithms Ends -->

  </main>